<ion-view view-title="{{'Add a New Question' | translate:'titles'}}">
  <ion-content>
    <div class="spinner" style="z-index:99" ng-if="spinIt">
      <ion-spinner icon="android"></ion-spinner>
    </div>
    <form ng-submit="addQuestion()">
      <div class="list"> 
        <label class="item item-input">
          <textarea placeholder="{{'Your Question Header:' | translate:'labels'}}" ng-model="addQuestionObj.questionHeader"></textarea>
        </label>
        <label class="item item-input">
          <textarea rows="15" placeholder="{{'Your Question:' | translate:'labels'}}" ng-model="addQuestionObj.question"></textarea>
        </label>  
        <button class="button button-block button-positive">{{'Submit' | translate:'labels'}}</button>
      </div>
    </form>
  </ion-content>
</ion-view>