<!-- <ion-modal-view style="width: 90%; height: 90%; top: 5%; left: 5%; right: 5%; bottom: 5%;">

<div class="modal">
        
  <ion-content has-header="true" style="margin-top: 0px !important;">        
    
    <div class="list card" style="border-radius: 0px !important;">

    <div class="item item-avatar item-text-wrap">
      <img ng-src="http://placehold.it/65x65">
      <h2>{{row.firstname}} {{row.lastname}}</h2>
      <p>{{row.jobtitle}}</p>
    </div>

    <a href="tel:{{row.phone}}" class="item item-icon-left">
      <i class="icon ion-iphone"></i>
      {{row.phone}}
    </a>
    
    <a href="mailto:{{row.email}}" class="item item-icon-left">
     <i class="icon ion-email"></i>
     {{row.email}}
    </a>         

  </div>
  
  <button class="button button-block button-lsi" ng-click="closeModal()">Close Popup</button>
  
  </ion-content>
  
</div>

</ion-modal-view> -->

  <ion-modal-view style="min-height: 0px; width: 50%; height: 50%; top: 25%; left: 25%; right: 25%; bottom: 25%; border-color: black">
    <div>
      <h2>Are you sure?</h2>
    </div>
  </ion-modal-view>
