<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">{{'Login' | translate:'titles'}}</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLoginModal()">{{'Close' | translate:'labels'}}</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="sendLogin()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Username</span>
          <input type="text" ng-model="loginData.loginName" required>
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="loginData.loginPassword" required>
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Log in</button>
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="button" ng-click="fbLogin()">Login with Facebook</button>
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="button" ng-click="openRegisterModal()">Register</button>
        </label>
      </div>
    </form>
  

  </ion-content>
</ion-modal-view>
