<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-stable">
      <h1 class="title">{{'Menu' | translate:'titles'}}</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item menu-close not-yet-ng-click="openLoginModal()" ng-if="loginMode !== 'username'" coming-soon>
          {{'Login' | translate:'menu'}} (Coming Soon)
        </ion-item> 
        <!-- <ion-item menu-close not-yet-ng-click="logoff()" ng-if="loginMode === 'username'">
          {{'Logoff' | translate:'menu'}}
        </ion-item>  -->
        <ion-item menu-close href="#/app/addQuestion" coming-soon>
          {{'Add Question' | translate:'menu'}} (Coming Soon)
        </ion-item>
        <ion-item menu-close href="#/app/promoteQuestion"coming-soon>
          {{'Promote Question' | translate:'menu'}} (Coming Soon)
        </ion-item>
        <ion-item menu-close href="#/app/vote">
          {{'Vote' | translate:'menu'}}
        </ion-item>
        <ion-item menu-close href="#/app/moderateQuestions" coming-soon>
          {{'Moderate Questions' | translate:'menu'}} (Coming Soon)
        </ion-item>
        <ion-item menu-close href="#/app/moderateComments" coming-soon>
          {{'Moderate Comments' | translate:'menu'}} (Coming Soon)
        </ion-item>
        <ion-item menu-close href="#/app/developer">
          {{'Developer' | translate:'menu'}}
        </ion-item>
      </ion-list>
    </ion-content>
    <ion-footer-bar>
     
      <!-- <div><label>Known from: </label> {{loginMode}}</div> -->
      <div><label>{{ (myCredit == 1 )
                        ? ('You have 1 credit.' | translate:'labels')
                        : ('You have ' + myCredit + ' credits.' | translate:'labels')}} </label></div>


    </ion-footer-bar>
  </ion-side-menu>
</ion-side-menus>