<ion-view view-title="{{'Moderate Comments' | translate:'titles'}}">
  <ion-content class="light-orange-background">
  <div class="spinner" style="z-index:99" ng-if="spinIt"><ion-spinner icon="android"></ion-spinner></div>
    <ion-list>
      <div class="card" ng-repeat="comment in comments">
        <ion-item class="item-borderless">  <!--  href="#/app/questions/{{question._id}}" -->
          <div class="row">
            <div class="col">
              <div class="item-text-wrap"><h3>{{comment.text}}</h3></div>
            </div>
          </div>

          <div class="row">
            
            <div class="col">
              <div><p>Reported by {{comment.reportedBy.length}} user{{ comment.reportedBy.length === 1 ? '' : 's' }}</p></div>
            </div>
          </div>
        
        </ion-item>
        <div class="row">
          <div class="col"><button class="button button-block" href="" ng-click="vote.down(votable,$index)" ng-class="{ disabled: votable.previousVote === 'no' }"><i class="icon ion-close assertive"></i>
  {{'NO' | translate:'labels'}}</button> </div>
          <div class="col"><button class="button button-block" href="" ng-click="vote.up(votable,$index)" ng-class="{ disabled: votable.previousVote === 'yes' }"><i class="icon ion-checkmark balanced"></i>
  {{'YES' | translate:'labels'}}</button> </div>
        </div>
      </div>
    </ion-list>
  </ion-content>
</ion-view>
