<ion-view view-title="{{'Moderate Comments' | translate:'titles'}}">
  <ion-content class="light-orange-background">
  <div class="spinner" style="z-index:99" ng-if="spinIt"><ion-spinner icon="android"></ion-spinner></div>
    <ion-list>
      <div class="card" ng-repeat="question in questions">
        <ion-item class="item-borderless">  <!--  href="#/app/questions/{{question._id}}" -->
          <div class="row">
          
            <div class="col"><h2>{{question.header}}</h2></div>
            <!-- <div class="col"><i class="icon ion-arrow-up-b"></i> {{question.promoteUp}}</div>
            <div class="col"><i class="icon ion-arrow-down-b"></i> {{question.promoteDown}}</div> -->

          </div>
          <div class="row">
            <div class="col">
              <div class="item-text-wrap"><p>{{question.body}}</p></div>
            </div>
          </div>

          <div class="row">
            <div class="col-50">
              <div><p>{{question.numberOfComments}} comment{{ question.numberOfComments === 1 ? '' : 's' }}</p></div>
            </div>
            <div class="col-50">
              <div><p>Reported by {{question.reportedBy.length}} user{{ question.reportedBy.length === 1 ? '' : 's' }}</p></div>
            </div>
          </div>
        
        </ion-item>
        <div class="row">
          <div class="col"><button class="button button-block" href="" ng-click="vote.down(votable,$index)" ng-class="{ disabled: votable.previousVote === 'no' }"><i class="icon ion-close assertive"></i>
  {{'NO' | translate:'labels'}}</button> </div>
          <div class="col"><button class="button button-block" href="" ng-click="vote.up(votable,$index)" ng-class="{ disabled: votable.previousVote === 'yes' }"><i class="icon ion-checkmark balanced"></i>
  {{'YES' | translate:'labels'}}</button> </div>
        </div>
      </div>
    </ion-list>
  </ion-content>
</ion-view>
