<ion-view view-title="{{'Questions Available for Promoting' | translate:'titles'}}">
  <ion-content>
  <div class="spinner" style="z-index:99" ng-if="spinIt"><ion-spinner icon="android"></ion-spinner></div>
    <ion-list>
      <ion-item ng-repeat="promotable in promotables" href="#/app/promotables/{{promotable._id}}">
        <div class="row">
          <div class="col-80">{{promotable.header}}</div>
          <div class="col"><i class="icon ion-arrow-up-b"></i> {{promotable.promoteUp}}</div>
          <div class="col"><i class="icon ion-arrow-down-b"></i> {{promotable.promoteDown}}</div>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>