<ion-view view-title="{{'Questions Available for Voting' | translate:'titles'}}">
  <ion-content class="light-orange-background">

    <ion-list>
      <div class="card" ng-repeat="votable in votables">
        <!--<ion-item href="#/app/votables/{{votable._id}}" class="item-borderless" native-transitions>-->
        <ion-item href="#/app/votables/{{votable._id}}" class="item-borderless">
          <div class="row">
            <div class="col-20">
              <div style='font-size:54px;line-height:24px;'>
                <i class="icon ion-android-checkbox-outline" style="color:gray" ng-show="votable.previousVote"></i>
                <i class="icon ion-android-checkbox-outline" style="color:silver" ng-show="!votable.previousVote"></i>
              </div>
            </div>
            <div class="col-80">
              <div class="row">
                <div class="col-100">
                  <div class="item-text-wrap" style='font-size:18px;line-height:24px;'>{{votable.header}}</div>
                </div>
              </div>
              <div class="row">
                <div class="col-100">
                  <div class="item-text-wrap" style="font-size:15px;color:gray;line-height:16px;padding-top:10px;">{{votable.body}}</div>
                </div>
              </div>
            </div>
          </div>
        </ion-item>
        
        <div class="row">
          <div class="col">

            <button class="button button-block" href="" ng-click="vote.down(votable,$index);" ng-class="{ disabled: votable.previousVote === 'no' }">
            
              <i class="icon icon ion-android-checkbox-outline" ng-show="votable.previousVote === 'no'">
              </i>
              <i class="icon icon ion-android-checkbox-outline-blank" ng-show="votable.previousVote !== 'no'">
              </i>
              <span>{{'NO' | translate:'labels'}}  ({{votable.voteDown}})</span>
              <span class="spinner" ng-if="votable.spinOnNo">
                  <ion-spinner icon="spiral"></ion-spinner>
              </span>
             
            </button>
          </div>
          <div class="col">

            <button class="button button-block" href="" ng-click="vote.up(votable,$index)" ng-class="{ disabled: votable.previousVote === 'yes' }">
              
              <i class="icon icon ion-android-checkbox-outline" ng-show="votable.previousVote === 'yes'">
              </i>
              <i class="icon icon ion-android-checkbox-outline-blank" ng-show="votable.previousVote !== 'yes'">
              </i>
              <span>{{'YES' | translate:'labels'}} ({{votable.voteUp}})</span>
              <span class="spinner" ng-if="votable.spinOnYes">
                <ion-spinner icon="spiral"></ion-spinner>
              </span>
              
            </button>
            
          </div>
        </div>
        
      </div>


      <div class="card" ng-if="votables">
        <ion-item href="#/app/comingSoon" class="item-borderless">
          <div class="row">
            <div class="col-20">
              <div style='font-size:54px;line-height:24px;'>
                <i class="icon ion-android-checkbox-outline" style="color:gray" ng-show="votable.previousVote"></i>
                <i class="icon ion-android-checkbox-outline" style="color:silver" ng-show="!votable.previousVote"></i>
              </div>
            </div>
            <div class="col-80">
              <div class="row">
                <div class="col-100">
                  <div class="item-text-wrap" style='font-size:18px;line-height:24px;'>{{'Your question header' | translate:'labels'}}</div>
                </div>
              </div>
              <div class="row">
                <div class="col-100">
                  <div class="item-text-wrap" style="font-size:15px;color:gray;line-height:16px;padding-top:10px;">{{'Your question body' | translate:'labels'}}</div>
                </div>
              </div>
            </div>
          </div>
        </ion-item>
        <div class="row">
          <div class="col">
            
            <button class="button button-block disabled" href="" ng-click="" disabled>
              <span>{{'SUBMIT' | translate:'labels'}} (Coming Soon)</span>
            </button>
            
          </div>

        </div>
      </div>


    </ion-list>
  </ion-content>
</ion-view>