<ion-view view-title="{{'Vote' | translate:'titles'}}">
  <ion-content>
    <div class="spinner" style="z-index:99" ng-if="spinIt"><ion-spinner icon="android"></ion-spinner></div>
      <div class="row" style="min-height: 10%;">
        <div class="col text-center">
          <h1>{{question.header}}</h1>
        </div>
      </div>
      <div class="row" style="min-height: 70%">
        <textarea class="col" style="font-size: 1.3em; line-height: 1.2em">{{question.question}}</textarea>
      </div>
      <div class="row" style="min-height: 10%">
        <div class="col"><button class="button button-block button-assertive" ng-click="vote.down(question)"><i class="icon ion-close"></i>
{{'NO' | translate:'labels'}}</button> </div>
        <div class="col"><button class="button button-block button-balanced" ng-click="vote.up(question)"><i class="icon ion-checkmark"></i>
{{'YES' | translate:'labels'}}</button> </div>
      </div>
    </div>
  </ion-content>
</ion-view>