<ion-view view-title="{{'Questions Available for Voting' | translate:'titles'}}">
  <ion-content class="light-orange-background">
    <div class="spinner" style="z-index:99" ng-if="spinIt">
      <ion-spinner icon="android"></ion-spinner>
    </div>
    <ion-list>
      <div class="card" ng-repeat="votable in votables">
        <ion-item href="#/app/votables/{{votable._id}}" class="item-borderless">
          <div class="row">
            <div class="col-20" >
              <div style='font-size:48px;line-height:24px;'>
                <i class="icon ion-android-checkbox-outline" style="color:silver"></i>
              </div>
            </div>
            <div class="col-80">
              <div class="row">
                <div class="col-100">
                  <div class="item-text-wrap">{{votable.header}}</div>
               </div>
              </div>
              <div class="row">
                <div class="col-100">
                  <div class="item-text-wrap" style="font-size:12px;color:gray;line-height:14px;padding-top:5px;">{{votable.body}}</div>
                </div>
              </div>
            </div>
          </div>
        </ion-item>
        <div class="row">
          <div class="col"><button class="button button-block" href="" ng-click="vote.down(votable,$index)" ng-class="{ disabled: votable.previousVote === 'no' }"><i class="icon ion-close"></i>
  {{'NO' | translate:'labels'}}  ({{votable.voteDown}})</button> </div>
          <div class="col"><button class="button button-block" href="" ng-click="vote.up(votable,$index)" ng-class="{ disabled: votable.previousVote === 'yes' }"><i class="icon ion-checkmark"></i>
  {{'YES' | translate:'labels'}} ({{votable.voteUp}})</button> </div>
        </div>
      </div>
    </ion-list>
  </ion-content>
</ion-view>