/* Empty. Add your own CSS if you like */
div.spinner {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  height: 100%;
  text-align: center;
  background: black;
  opacity:0.30;
}

.spinner svg {
	margin: 15vw;
  width: 19% !important;
  height: 85px !important;

}

.errorLine {
  background: #f99;
  
  
}

.bordered {
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;

}

/*http://stackoverflow.com/questions/32562237/how-to-fill-vertical-space-with-flexbox-in-ionic*/
.fill-vertical-space{
    display: -webkit-flex;
    display: flex;

    flex-direction: column;
    background-color: green;

    height: 100%;
}

.fill-vertical-space > div, .fill-vertical-space > .row{
    -webkit-flex: 1;
    flex: 1;
    background-color: blue;
}

.scroll{
    height: 100%;
}